nav {
    background-color: #333;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
  }
  
  nav a:hover {
    background-color: #ca0e0e;
  }
  